*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}

body{
    background: url('https://assets.hongkiat.com/uploads/40-cool-abstract-and-background-photoshop-tutorials/windows-vista.jpg') repeat center;
    background-size: cover;
    width: 100%;
    height: 100vh;

}

@media screen 
    and (min-width: 300px)
    and (max-width: 370px){

        header{
    color: #fff;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.39);
    margin: 5px;
    margin-bottom: 15px;
}

        h1{
    font-size: 25px;
    padding-bottom: 3px;
    font-family: 'Pacifico', cursive;
}

    .wrapper{
    /* position: absolute; */
    background: rgba(0,0,0,0.6);
    max-width: 550px; 
    width: 280px;
    padding: 15px;
    margin-left: 3%;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    height: 10%;
    margin-bottom: 20px;
}

.wrapper .input{
    width: 80%;

    padding: 10px 20px ;
    border: none;
    border-radius: 5px; 
    font-weight: bold;
    margin-right: 3px;
} 

.searchbtn{
  background: rgb(9, 9, 180);
  width: 20%;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  /* margin-left: 30px; */
}

.searchbtn:hover{
    background: rgb(3, 3, 107);
    color: white;
}

.searchbtn .icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 18px;
}
img{
    width: 60%;
}

.frame{
    width: 100%;
    margin: 5px 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-right: 3px;
    width: 17%;
    color: rgb(57, 57, 116);
  }
  
  ul li {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    font-size: .7rem;
  } 

  ul li b{
    font-size: .7rem;
  }

.li-top{
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

.li-bottom{
    border-bottom-right-radius: 5%;
}
#channelInfo{
    display: flex;
    /* justify-content: start; */
    flex-direction: column;
    font-family: sans-serif;
    overflow: hidden;
}
#channelInfo:hover{
    overflow: auto;
}

.list-group{
    width: 100%;
    margin: 10px 0;
}

#displayVideos{
    background-color: rgb(129, 27, 27);
    color: rgb(221, 213, 213);
    font-size: .7rem;
    width: 100%;
    cursor: pointer;
}
#displayVideos:hover{
    color: white;
    background-color: rgb(92, 16, 16);
}

#videos{
    display: inline;
}
section{
    background-color: rgba(0, 0, 0, 0.39);
    padding: 10px;
}

main{
    margin:0 20px;
}


::-webkit-scrollbar {
    width: 1px;
    margin-top: 3px;
    height: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(38, 62, 114);
  }

  .fa-trash{
      /* color: rgb(192, 178, 178); */
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      font-size: 14px;
  }
 
  #clearAll{
      background-color: crimson;
      margin-left: 5px;
      width: 20%;
      border-radius: 5px;
      position: relative;
      cursor: pointer;
  }
  #clearAll:hover{
      background: rgb(170, 21, 56);
      color: white;
  }

}
@media screen 
    and (min-width: 370px)
    and (max-width: 420px){

        header{
    color: #fff;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.39);
    margin: 5px;
    margin-bottom: 15px;
}

        h1{
    font-size: 25px;
    padding-bottom: 3px;
    font-family: 'Pacifico', cursive;
}

    .wrapper{
    /* position: absolute; */
    background: rgba(0,0,0,0.6);
    max-width: 550px; 
    width: 280px;
    padding: 15px;
    margin-left: 3%;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    height: 10%;
    margin-bottom: 20px;
}

.wrapper .input{
    width: 80%;

    padding: 10px 20px ;
    border: none;
    border-radius: 5px; 
    font-weight: bold;
    margin-right: 3px;
} 

.searchbtn{
  background: rgb(9, 9, 180);
  width: 20%;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  /* margin-left: 30px; */
}

.searchbtn:hover{
    background: rgb(3, 3, 107);
    color: white;
}

.searchbtn .icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 18px;
}
img{
    width: 60%;
}

.frame{
    width: 100%;
    margin: 5px 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-right: 3px;
    width: 17%;
    color: rgb(57, 57, 116);
  }
  
  ul li {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    font-size: .7rem;
  } 

  ul li b{
    font-size: .7rem;
  }

.li-top{
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

.li-bottom{
    border-bottom-right-radius: 5%;
}
#channelInfo{
    display: flex;
    justify-content: start;
    /* flex-direction: column; */
    flex-wrap: wrap;
    font-family: sans-serif;
    overflow: hidden;
}
#channelInfo:hover{
    overflow: auto;
}

.list-group{
    width: 46%;
    margin: 5px 5px;
}

#displayVideos{
    background-color: rgb(129, 27, 27);
    color: rgb(221, 213, 213);
    font-size: .7rem;
    width: 100%;
    cursor: pointer;
}
#displayVideos:hover{
    color: white;
    background-color: rgb(92, 16, 16);
}

#videos{
    display: inline;
}
section{
    background-color: rgba(0, 0, 0, 0.39);
    padding: 10px;
}

main{
    margin:0 20px;
}


::-webkit-scrollbar {
    width: 1px;
    margin-top: 3px;
    height: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(38, 62, 114);
  }

  .fa-trash{
      /* color: rgb(192, 178, 178); */
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      font-size: 14px;
  }
 
  #clearAll{
      background-color: crimson;
      margin-left: 5px;
      width: 20%;
      border-radius: 5px;
      position: relative;
      cursor: pointer;
  }
  #clearAll:hover{
      background: rgb(170, 21, 56);
      color: white;
  }

}

@media screen 
    and (min-width: 420px)
    and (max-width: 580px){

        header{
    color: #fff;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.39);
    margin: 5px;
    margin-bottom: 15px;
}


        h1{
    font-size: 25px;
    padding-bottom: 3px;
    font-family: 'Pacifico', cursive;
}

    .wrapper{
    /* position: absolute; */
    background: rgba(0,0,0,0.6);
    max-width: 550px; 
    width: 350px;
    padding: 15px;
    margin-left: 8%;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    height: 12%;
    margin-bottom: 20px;
}

.wrapper .input{
    width: 80%;

    padding: 10px 20px ;
    border: none;
    border-radius: 5px; 
    font-weight: bold;
    margin-right: 3px;
} 

.searchbtn{
  background: rgb(9, 9, 180);
  width: 20%;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  /* margin-left: 30px; */
}

.searchbtn:hover{
    background: rgb(3, 3, 107);
    color: white;
}

.searchbtn .icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 18px;
}
img{
    width: 60%;
}

.frame{
    width: 45%;
    margin: 5px 3px;
}


ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-right: 3px;
    width: 17%;
    color: rgb(57, 57, 116);
  }
  
  ul li {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    font-size: .7rem;
  } 

  ul li b{
    font-size: .7rem;
  }

.li-top{
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

.li-bottom{
    border-bottom-right-radius: 5%;
}
#channelInfo{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    font-family: sans-serif;
    overflow: hidden;
    width: 100%;
}

.list-group{
    width: 46%;
    margin: 5px 4px;
}

#channelInfo:hover{
    overflow: auto;
}

#displayVideos{
    background-color: rgb(129, 27, 27);
    color: rgb(221, 213, 213);
    font-size: .7rem;
    width: 100%;
    cursor: pointer;
}
#displayVideos:hover{
    color: white;
    background-color: rgb(92, 16, 16);
}

#videos{
    display: inline;
}
section{
    background-color: rgba(0, 0, 0, 0.39);
    padding: 10px;
}

main{
    margin:0 20px;
}


::-webkit-scrollbar {
    width: 1px;
    margin-top: 3px;
    height: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(38, 62, 114);
  }

  .fa-trash{
      /* color: rgb(192, 178, 178); */
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      font-size: 14px;
  }
 
  #clearAll{
      background-color: crimson;
      margin-left: 5px;
      width: 20%;
      border-radius: 5px;
      position: relative;
      cursor: pointer;
  }
  #clearAll:hover{
      background: rgb(170, 21, 56);
      color: white;
  }

}

@media screen 
    and (min-width: 580px)
    and (max-width: 720px){

        header{
    color: #fff;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.39);
    margin: 5px;
    margin-bottom: 15px;
}


        h1{
    font-size: 35px;
    padding-bottom: 3px;
    font-family: 'Pacifico', cursive;
}

    .wrapper{
    /* position: absolute; */
    background: rgba(0,0,0,0.6);
    max-width: 550px; 
    width: 400px;
    padding: 15px;
    margin-left: 10%;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    height: 10%;
    margin-bottom: 20px;
}

.wrapper .input{
    width: 80%;

    padding: 10px 20px ;
    border: none;
    border-radius: 5px; 
    font-weight: bold;
    margin-right: 3px;
} 

.searchbtn{
  background: rgb(9, 9, 180);
  width: 20%;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  /* margin-left: 30px; */
}

.searchbtn:hover{
    background: rgb(3, 3, 107);
    color: white;
}

.searchbtn .icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 18px;
}
img{
    width: 60%;
}
.frame{
    width: 48%;
    margin: 5px 3px;
}


ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-right: 3px;
    width: 17%;
    color: rgb(57, 57, 116);
  }
  
  ul li {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    font-size: .7rem;
  } 

  ul li b{
    font-size: .7rem;
  }

.li-top{
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

.li-bottom{
    border-bottom-right-radius: 5%;
}
#channelInfo{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    font-family: sans-serif;
    overflow: hidden;
}
.list-group{
    width: 30%;
    margin: 5px 4px;
}
#channelInfo:hover{
    overflow: auto;
}

#displayVideos{
    background-color: rgb(129, 27, 27);
    color: rgb(221, 213, 213);
    font-size: .7rem;
    width: 100%;
    cursor: pointer;
}
#displayVideos:hover{
    color: white;
    background-color: rgb(92, 16, 16);
}

#videos{
    display: inline;
}
section{
    background-color: rgba(0, 0, 0, 0.39);
    padding: 10px;
}

main{
    margin:0 20px;
}


::-webkit-scrollbar {
    width: 1px;
    margin-top: 3px;
    height: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(38, 62, 114);
  }

  .fa-trash{
      /* color: rgb(192, 178, 178); */
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      font-size: 14px;
  }
 
  #clearAll{
      background-color: crimson;
      margin-left: 5px;
      width: 20%;
      border-radius: 5px;
      position: relative;
      cursor: pointer;
  }
  #clearAll:hover{
      background: rgb(170, 21, 56);
      color: white;
  }

}

@media screen 
    and (min-width: 720px)
    and (max-width: 1020px){

        header{
    color: #fff;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.39);
    margin: 5px;
    margin-bottom: 15px;
}


        h1{
    font-size: 40px;
    padding-bottom: 3px;
    font-family: 'Pacifico', cursive;
}

    .wrapper{
    /* position: absolute; */
    background: rgba(0,0,0,0.6);
    max-width: 550px; 
    width: 500px;
    padding: 15px;
    margin-left: 15%;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    height: 10%;
    margin-bottom: 20px;
}

.wrapper .input{
    width: 80%;

    padding: 10px 20px ;
    border: none;
    border-radius: 5px; 
    font-weight: bold;
    margin-right: 3px;
} 

.searchbtn{
  background: rgb(9, 9, 180);
  width: 20%;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  /* margin-left: 30px; */
}

.searchbtn:hover{
    background: rgb(3, 3, 107);
    color: white;
}

.searchbtn .icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 18px;
}
img{
    width: 60%;
}
.frame{
    width: 48%;
    margin: 5px 3px;
}


ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-right: 3px;
    width: 17%;
    color: rgb(57, 57, 116);
  }
  
  ul li {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    font-size: .7rem;
  } 

  ul li b{
    font-size: .7rem;
  }

.li-top{
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

.li-bottom{
    border-bottom-right-radius: 5%;
}
#channelInfo{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    font-family: sans-serif;
    overflow: hidden;
}

/* .list-group{
    width: 32%;
    margin: 5px 4px;
} */

#channelInfo:hover{
    overflow: auto;
}

#displayVideos{
    background-color: rgb(129, 27, 27);
    color: rgb(221, 213, 213);
    font-size: .7rem;
    width: 100%;
    cursor: pointer;
}
#displayVideos:hover{
    color: white;
    background-color: rgb(92, 16, 16);
}

#videos{
    display: inline;
}
section{
    background-color: rgba(0, 0, 0, 0.39);
    padding: 10px;
}

main{
    margin:0 20px;
}


::-webkit-scrollbar {
    width: 1px;
    margin-top: 3px;
    height: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(38, 62, 114);
  }

  .fa-trash{
      /* color: rgb(192, 178, 178); */
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      font-size: 14px;
  }
 
  #clearAll{
      background-color: crimson;
      margin-left: 5px;
      width: 20%;
      border-radius: 5px;
      position: relative;
      cursor: pointer;
  }
  #clearAll:hover{
      background: rgb(170, 21, 56);
      color: white;
  }

}

@media screen 
    and (min-width: 1020px)
    and (max-width: 1440px){

        header{
    color: #fff;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.39);
    margin: 5px;
    /* margin-bottom: 10px; */
}

        h1{
    font-size: 50px;
    padding-bottom: 3px;
    font-family: 'Pacifico', cursive;
}

    .wrapper{
    /* position: absolute; */
    background: rgba(0,0,0,0.6);
    max-width: 550px; 
    width: 700px;
    padding: 15px;
    margin-left: 30%;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    height: 10%;
    margin-bottom: 20px;
}

.wrapper .input{
    width: 80%;

    padding: 10px 20px ;
    border: none;
    border-radius: 5px; 
    font-weight: bold;
    margin-right: 3px;
} 

.searchbtn{
  background: rgb(9, 9, 180);
  width: 20%;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  /* margin-left: 30px; */
}

.searchbtn:hover{
    background: rgb(3, 3, 107);
    color: white;
}

.searchbtn .icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 18px;
}
img{
    width: 60%;
}

.frame{
    width: 30%;
    margin: 5px 5px;
}



ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-right: 3px;
    width: 17%;
    color: rgb(57, 57, 116);
  }
  
  ul li {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    font-size: .7rem;
  } 

  ul li b{
    font-size: .7rem;
  }

.li-top{
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

.li-bottom{
    border-bottom-right-radius: 5%;
}
#channelInfo{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    font-family: sans-serif;
    overflow: hidden;
}
/* .list-group{
    width: 23%;
    margin: 5px 4px;
} */
#channelInfo:hover{
    overflow: auto;
}

#displayVideos{
    background-color: rgb(129, 27, 27);
    color: rgb(221, 213, 213);
    font-size: .7rem;
    width: 100%;
    cursor: pointer;
}
#displayVideos:hover{
    color: white;
    background-color: rgb(92, 16, 16);
}

#videos{
    display: inline;
}
section{
    background-color: rgba(0, 0, 0, 0.39);
    padding: 10px;
}

main{
    margin:0 20px;
}


::-webkit-scrollbar {
    width: 1px;
    margin-top: 3px;
    height: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(38, 62, 114);
  }

  .fa-trash{
      /* color: rgb(192, 178, 178); */
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      font-size: 14px;
  }
 
  #clearAll{
      background-color: crimson;
      margin-left: 5px;
      width: 20%;
      border-radius: 5px;
      position: relative;
      cursor: pointer;
  }
  #clearAll:hover{
      background: rgb(170, 21, 56);
      color: white;
  }

}

