*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}

header{
    color: #fff;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.39);
    margin: 5px;
    margin-top: -2px;
    margin-bottom: 15px;
}
h1{
    font-size: 35px;
    padding-bottom: 3px;
    font-family: 'Pacifico', cursive;
}

body{
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-color: rgb(63, 24, 24);
}

.wrapper{
    /* position: absolute; */
    background: rgba(0,0,0,0.6);
    max-width: 550px; 
    width: 300px;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    height: 10%;
    margin-bottom: 20px;
}

.wrapper .input{
    width: 80%;

    padding: 10px 20px ;
    border: none;
    border-radius: 5px; 
    font-weight: bold;
    margin-right: 3px;
} 

.searchbtn{
  background: rgb(9, 9, 180);
  width: 20%;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  /* margin-left: 30px; */
}

.searchbtn:hover{
    background: rgb(3, 3, 107);
    color: white;
}

.searchbtn .icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 18px;
}
img{
    width: 60%;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-right: 3px;
    width: 17%;
    color: rgb(57, 57, 116);
  }
  
  ul li {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    font-size: .7rem;
  } 

  ul li b{
    font-size: .7rem;
  }

.li-top{
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

.li-bottom{
    border-bottom-right-radius: 5%;
}
#channelInfo{
    display: flex;
    justify-content: start;
    font-family: sans-serif;
    overflow: hidden;
}
#channelInfo:hover{
    overflow: auto;
}

#displayVideos{
    background-color: rgb(129, 27, 27);
    color: rgb(221, 213, 213);
    font-size: .7rem;
    width: 100%;
    cursor: pointer;
    margin-bottom: 15px;
    
}
#displayVideos:hover{
    color: white;
    background-color: rgb(92, 16, 16);
}

#videos{
    display: inline;
    text-align: center;
}
#vidDisplay iframe{
    margin-right: 3px;
    margin-bottom: 3px;
    width: 10.1rem;
    height: 10.1rem;
}
.videoContainer{
    background-color: rgba(0, 0, 0, 0.39);
    padding: 10px;
}
.channelContainer{
    background-color: rgba(0, 0, 0, 0.39);
    padding: 10px;
}

main{
    margin:0 20px;
}

.view, .select{
    text-decoration: underline;
    color: #fff;
    font-size: 0.9rem;
    margin-bottom: 4px;
}


::-webkit-scrollbar {
    width: 1px;
    margin-top: 3px;
    height: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(49, 47, 47);
  }

  .fa-trash{
      /* color: rgb(192, 178, 178); */
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      font-size: 14px;
  }
 
  #clearAll{
      background-color: crimson;
      margin-left: 5px;
      width: 20%;
      border-radius: 5px;
      position: relative;
      cursor: pointer;
  }
  #clearAll:hover{
      background: rgb(170, 21, 56);
      color: white;
  }

  @media  screen and (max-width: 500px){
      header{
        text-align: center;
      }
      h1{
          font-size: 30px;
      }
      .wrapper{
          width: 250px;
          height: 50px;
          padding: 10px;
          margin: auto;
          margin-bottom: 15px;
      }
      #videos{
          display: block;
      }
      #vidDisplay{
          margin-bottom: 9px;
      }
      #channelInfo{
          display: block;
      }
      ul{
          width: 100%;
          margin-bottom: 10px;
      }
}